/*lien pour ajouter un evenement*/
.lienajoutphoto{
    text-align: center;
}
/*fin du lien*/

.adminPhoto{
    div{
        div{
            /*titre de l'article*/
            h2{
                text-align: center;
            }
            /*fin titre*/
            
            /*balise p qui se trouve dans la boucle for*/
            p{
                display:flex;
                justify-content: center;
            }
            /*fin balise*/
            
            /*image de l'article'*/
            .image{
                border: none;
            }
            /*fin de l'image*/
            
            /*bouton qui permet de modifier ou suprimé*/
            .boutonPhoto{
                text-align: center;
                margin-bottom: 30px;
            }
            /*fin bouton*/
        }
    }
}