@import "_variable.scss";

/*.header{
    position: relative;
}*/



.header-img{
    background-size: cover;
    width: 100%;
}

.titre{
    position: absolute;
    top: 0;
    width: 60%;
}

.footer{
    background-color: #E5E5E5;
    text-align: center;
    padding-bottom: 7%;
    padding-top: 7%;
    font-size: 130%;

    .credit{
        border-bottom: 2px solid black;
        margin-left: 25%;
        margin-right: 25%;

        a{
            color: black;
            text-decoration: none;
            &:hover{
                color: $couleurPrincipal;
            }
            span{
                color:black;
            }
        }

        .dev{
            color: $couleurPrincipal;
            font-size: 16px;
        }

        .copy{
            font-size: 20px;
        }
    }
}




