@import "_variable.scss";

/*image entête de site*/
.header-img{
    background-size: cover;
    width: 100%;
}
/*titre dans l'image de l'entête*/
.titre{
    position: absolute;
    top: 0;
    width: 60%;
}
/*couleur background de la recupération des article dans la rubrique photo*/
.test1{
    background-color: #E5E5E5;
}
/*marge dans les div*/
.thumbHome{
    margin-top: 60px;
    margin-bottom: 100px;
}
/*bouton qui permet d'accéder aux rubriques adéquates'*/
.boutonHome{
        width: 120px;
        font-size: 16px;
        float: right;
        margin-right: 50px;
        margin-bottom: 50px;
        background-color: $couleurPrincipal;
        color: black;
    }
/*Bas de la page*/
.footer{
    background-color: #E5E5E5;
    text-align: center;
    padding-bottom: 7%;
    padding-top: 7%;
    font-size: 130%;

    .credit{
        border-bottom: 2px solid black;
        margin-left: 25%;
        margin-right: 25%;

        a{
            color: black;
            text-decoration: none;
            &:hover{
                color: $couleurPrincipal;
            }
            span{
                color:black;
            }
        }
/*Informations sur les devs*/
        .dev{
            color: $couleurPrincipal;
            font-size: 16px;
        }
/*Copyright du site*/
        .copy{
            font-size: 20px;
        }
    }
}




