header{
    position: relative;
}
.header-img{
    background-size: cover;
    width: 100%;
}

.titre{
    position: absolute;
    top: 0;
    width: 60%;
}

.footer{
    background-color: lightgrey;
    text-align: center;
    padding-bottom: 7%;
    padding-top: 7%;
    font-size: 130%;

    .credit{
        border-bottom: 3px solid black;
        margin-left: 25%;
        margin-right: 25%;

        .dev{
            color: #2ED4AD;
            font-size: 16px;
        }

        .copy{
            font-size: 20px;
        }
    }
}




