.evenement{
    text-align: left;
    margin-left: 5%;

    .thumbnail{
        margin-top: 3%;
        margin-bottom: 5%;
        margin-left: 20%;
        margin-right: 20%;
        padding-bottom: 6%;
    }
}

.title{
    display: inline-block; 
    font-size: 30px;
}

.info{
    display: none;
}

.commentaire{
    position: absolute;
    padding-top: -5%;
    font-size: 18px;
}

.suite{
    position: absolute;
    padding-top: 3%;
}