/*lien pour ajouter un evenement*/
.lienajout{
    text-align: center;
}
/*fin du lien*/

/*bouton qui permet de modifier ou suprimé*/
.bouton{
    text-align: center;
    margin-bottom: 30px;
    float: right;
    padding-top: 35px;
}
/*fin bouton*/