/*lien pour ajouter un evenement*/
.lienajout{
    text-align: center;
}
/*fin du lien*/

/*bouton qui permet de publer, modifier ou suprimé*/
.bouton{
    text-align: center;
    margin-bottom: 30px;
    float: right;
    padding-top: 35px;
}
/*fin bouton*/
.boutonConnexion{
    text-align: center;
    margin-bottom: 30px;
    float: right;
    padding-top: 15px;
    margin-right: -11px;
}
.englobe{
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 220px;
    border-radius: 10px;
    border: 3px solid #fff;
    
}


.form-group {
  margin-bottom: 15px;
}

.headerConnexion{
    display: none;
}

.imagelogin{
background-image: url('../../images/fond-home.jpg');
background-size: cover;
width: 100%;
padding-top: 100px;
padding-bottom: 100px;
padding-right: 350px;
padding-left: 350px;
}

.titre-connexion{
        text-align: center;
}

@media screen and(min-width: 320px)and(max-width: 768px){
    .imagelogin{
background-image: url('../../images/fond-home.jpg');
background-size: cover;
width: 100%;
padding-top: 100px;
padding-bottom: 100px;
padding-right: 50px;
padding-left: 50px;
}
}