.detail{
    text-align: left;
    margin-left: 5%;
    margin: 0;
}
    
    .detailPage{
        margin-top: 3%;
        margin-bottom: 5%;
        margin-left: 20%;
        margin-right: 20%;
        padding-bottom: 115px;

        .titledetail{
            display: inline-block; 
            font-size: 35px;
            font-weight: bold;
        }
        
        .appareil{
            font-size: 17px;
        }
        
        .lieu{
            font-size: 17px;
        }

        .commentaire{
            font-size: 20px;
        }
        
        .renseignement{
            font-size: 17px;
            float: right;
            padding-right: 10px;
            padding-top: 20px; 
        }

    }
    
    .boutonDetail{
        width: 100px;
        font-size: 18px;
        float: right;
        margin-right: 50px;
        margin-bottom: 50px;
    }


