{% extends ':site:index.html.twig' %}

{% block section %}
    
    <div class="photo">
        PHOTO D'ART DE RUE
    </div>
    <div class="information">
        INFORMATIONS SUR LA PHOTO :
        -Titre
        -Description
        -Matériel utilisé
        -Date
        -Ville
        -Auteur     
    </div>
    
    <div class="photo">
        PHOTO D'ART DE RUE
    </div>
    <div class="information">
        INFORMATIONS SUR LA PHOTO :
        -Titre
        -Description
        -Matériel utilisé
        -Date
        -Ville
        -Auteur     
    </div>
    
    <div class="photo">
        PHOTO D'ART DE RUE
    </div>
    <div class="information">
        INFORMATIONS SUR LA PHOTO :
        -Titre
        -Description
        -Matériel utilisé
        -Date
        -Ville
        -Auteur     
    </div>
    
    <div class="photo">
        PHOTO D'ART DE RUE
    </div>
    <div class="information">
        INFORMATIONS SUR LA PHOTO :
        -Titre
        -Description
        -Matériel utilisé
        -Date
        -Ville
        -Auteur     
    </div>

{% endblock %}