{% extends ':site:index.html.twig' %}

{% block section %}
    
    <div class="login">
        Nom d'utilisateur :
        
        Mot de passe : 
        
        BOUTON : Connexion
    </div>

{% endblock %}