@charset "UTF-8";
#container {
  width: 100%;
  margin: 0;
  padding: 0; }

.footer .groupsocial {
  display: flex;
  justify-content: center;
  margin-top: 30px; }
  .footer .groupsocial .social {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: black;
    font-size: 40px;
    text-align: center;
    display: block;
    color: white;
    padding-top: 6px;
    transition: 0.5s;
    margin-right: 20px;
    margin-left: 20px; }
  @media screen and (max-width: 768px) {
    .footer .groupsocial .social {
      width: 50px;
      height: 50px;
      font-size: 30px;
      padding: 6px; } }
  .footer .groupsocial .socialface:hover {
    color: #3b5998; }
  .footer .groupsocial .socialtwit:hover {
    color: #1c9ceb; }
  .footer .groupsocial .socialinsta:hover {
    color: #a07c62; }

/*titre admin*/
.messageBienvenue {
  text-align: center; }

/*fin titre admin*/
.navbar {
  min-height: 50px;
  margin-bottom: 0px;
  border: 0px solid transparent; }

/*.navbar-min {
    min-height: 25px;
    transition: 0.4s;
}*/
.navbar-default {
  background-color: white;
  border-color: white;
  border-radius: 0; }

.navbar-default .navbar-brand {
  color: #777; }

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent; }

.navbar-default .navbar-text {
  color: #777; }

.navbar-nav {
  display: flex;
  justify-content: center;
  float: none;
  margin: 0;
  padding-top: 30px; }

.connexion {
  background-color: #2ED4AD;
  margin-top: -65%;
  margin-bottom: 30px; }

.navbar-default .navbar-nav > li > a {
  color: black;
  font-size: 20px; }

.navbar-fixed-top.navbar-nav-min li a {
  font-size: 18px;
  padding-top: 0px;
  line-height: 0px;
  transition: 0.4s; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7; }

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent; }

.navbar-default .navbar-toggle {
  border-color: #ddd; }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #888; }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #e7e7e7;
  color: #555; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777; }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent; }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7; }

  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent; } }
.navbar-default .navbar-link {
  color: #777; }

.navbar-default .navbar-link:hover {
  color: #333; }

.navbar-default .btn-link {
  color: #777; }

.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #333; }

.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #ccc; }

.navbar-brand {
  float: left;
  padding: 15px 15px;
  line-height: 20px;
  height: 50px;
  transition: 0.3s; }

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none; }

.navbar-brand > img {
  display: block; }

@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px; } }
.navbar-fixed-top {
  top: 0px;
  border-width: 0 0 0px; }

/*.header{
    position: relative;
}*/
.header-img {
  background-size: cover;
  width: 100%; }

.titre {
  position: absolute;
  top: 0;
  width: 60%; }

.footer {
  background-color: #E5E5E5;
  text-align: center;
  padding-bottom: 7%;
  padding-top: 7%;
  font-size: 130%; }
  .footer .credit {
    border-bottom: 2px solid black;
    margin-left: 25%;
    margin-right: 25%; }
    .footer .credit a {
      color: black;
      text-decoration: none; }
      .footer .credit a:hover {
        color: #21A98A; }
      .footer .credit a span {
        color: black; }
    .footer .credit .dev {
      color: #21A98A;
      font-size: 16px; }
    .footer .credit .copy {
      font-size: 20px; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 oct. 2016, 11:16:04
    Author     : jimmy
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 oct. 2016, 11:18:30
    Author     : jimmy
*/
.photo_event {
  text-align: left;
  margin-left: 5%;
  margin: 0; }

.changementCouleur:nth-child(2n+1) {
  background-color: #E5E5E5; }

.thumbnail {
  margin-top: 3%;
  margin-bottom: 5%;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 3%; }
  .thumbnail .title {
    display: inline-block;
    font-size: 30px;
    font-weight: bold; }
  .thumbnail .info {
    display: none; }
  .thumbnail .comm_suite {
    margin-top: 20px; }
  .thumbnail .commentaire {
    font-size: 18px; }
  .thumbnail .suite {
    font-size: 18px;
    padding-top: 3%;
    color: #21A98A; }

.couleur {
  background-color: transparent;
  border: none; }

/*lien pour ajouter un evenement et photo*/
.lienajout {
  text-align: center; }

/*fin du lien*/
/*bouton qui permet de publer, modifier ou suprimé*/
.bouton {
  text-align: center;
  margin-bottom: 30px;
  float: right;
  padding-top: 35px; }

/*fin bouton*/
/*entete du login retiré*/
.headerConnexion {
  display: none; }

/*fin entete*/
/*titre centré*/
.titre-connexion {
  text-align: center; }

/*fin du titre*/
/*arriere plan derriere content-connexion*/
.imagelogin {
  background-image: url("../../images/fond-home.jpg");
  background-size: cover;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 350px;
  padding-left: 350px;
  /*fin arriere plan*/ }

/*responsive arriere plan*/
@media screen and (min-width: 320px) and (max-width: 768px) {
  .imagelogin {
    padding-right: 50px;
    padding-left: 50px; } }
/*fin responsive arriere plan*/
/*div qui englobe les champ et bouton*/
.content-connexion {
  background-color: rgba(255, 255, 255, 0.7);
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  height: 220px;
  border-radius: 10px;
  border: 3px solid #fff;
  /*bouton connexion*/
  /*fin bouton*/
  /*responsive bouton connexion*/
  /*fin responsive bouton*/ }
  .content-connexion .boutonConnexion {
    text-align: center;
    margin-bottom: 30px;
    padding-top: 15px; }
  @media screen and (min-width: 768px) {
    .content-connexion .boutonConnexion {
      text-align: right;
      padding-top: 15px; } }

/*fin div*/
.detail {
  text-align: left;
  margin-left: 5%;
  margin: 0; }

.detailPage {
  margin-top: 3%;
  margin-bottom: 5%;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 115px; }
  .detailPage .titledetail {
    display: inline-block;
    font-size: 35px;
    font-weight: bold; }
  .detailPage .appareil {
    font-size: 17px; }
  .detailPage .lieu {
    font-size: 17px; }
  .detailPage .commentaire {
    font-size: 20px; }
  .detailPage .renseignement {
    font-size: 17px;
    float: right;
    padding-right: 10px;
    padding-top: 20px; }

.boutonDetail {
  width: 100px;
  font-size: 18px;
  float: right;
  margin-right: 50px;
  margin-bottom: 50px;
  background-color: #2ED4AD;
  color: black; }

/*# sourceMappingURL=main.css.map */
