@charset "UTF-8";
/*changer theme du site*/
/*police du site*/
body {
  font-family: 'Open Sans', sans-serif; }

/*div qui englobe tout sur index*/
#container {
  width: 100%;
  margin: 0;
  padding: 0; }

/*reseau sociaux*/
.footer {
  /*div qui englobe les lien*/ }
  .footer .groupsocial {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    /*lien de reseaux*/
    /*responsive lien de reseaux*/
    /*couleur au passage de la souris*/ }
    .footer .groupsocial .social {
      width: 65px;
      height: 65px;
      border-radius: 50%;
      background-color: black;
      font-size: 40px;
      text-align: center;
      display: block;
      color: white;
      padding-top: 6px;
      transition: 0.5s;
      margin-right: 20px;
      margin-left: 20px; }
    @media screen and (max-width: 768px) {
      .footer .groupsocial .social {
        width: 50px;
        height: 50px;
        font-size: 30px;
        padding: 6px; } }
    .footer .groupsocial .socialface:hover {
      color: #3b5998; }
    .footer .groupsocial .socialtwit:hover {
      color: #1c9ceb; }
    .footer .groupsocial .socialinsta:hover {
      color: #a07c62; }

/*titre admin*/
.messageBienvenue {
  text-align: center;
  background-color: #E5E5E5;
  color: #87D37C;
  padding-top: 10px;
  padding-bottom: 10px; }

/*changer theme du site*/
/*changer theme du site*/
@media (max-width: 767px) {
  .navLogo {
    display: none; } }
.navbar {
  min-height: 50px;
  margin-bottom: 15px;
  border: 0px solid transparent; }

/*.navbar-min {
    min-height: 25px;
    transition: 0.4s;
}*/
.navbar-default {
  background-color: white;
  border-color: white;
  border-radius: 0; }

.navbar-default .navbar-brand {
  color: #777; }

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent; }

.navbar-default .navbar-text {
  color: #777; }

.navbar-nav {
  float: none;
  margin: 0;
  padding-top: 30px; }

.navbar-nav .connexion {
  background-color: #87D37C;
  padding-top: 0; }

.navbar-default .navbar-nav > li > a {
  color: black;
  font-size: 20px; }

.navbar-fixed-top.navbar-nav-min li a {
  font-size: 18px;
  padding-top: 0px;
  line-height: 0px;
  transition: 0.4s; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7; }

.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent; }

.navbar-default .navbar-toggle {
  border-color: #ddd; }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ddd; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #888; }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #e7e7e7;
  color: #555; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777; }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent; }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7; }

  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent; } }
.navbar-default .navbar-link {
  color: #777; }

.navbar-default .navbar-link:hover {
  color: #333; }

.navbar-default .btn-link {
  color: #777; }

.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
  color: #333; }

.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
  color: #ccc; }

.navbar-brand {
  float: left;
  padding: 15px 15px;
  line-height: 20px;
  height: 50px;
  transition: 0.3s; }

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none; }

.navbar-brand > img {
  display: block; }

@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px; } }
.navbar-fixed-top {
  top: 0px;
  border-width: 0 0 0px; }

@media (min-width: 768px) and (max-width: 874px) {
  .navbar-default .navbar-nav > li > a {
    color: black;
    font-size: 16px; } }
/*changer theme du site*/
/*image entête de site*/
.header-img {
  background-size: cover;
  width: 100%; }

/*titre dans l'image de l'entête*/
.titre {
  position: absolute;
  top: 0;
  width: 60%; }

/*couleur background de la recupération des article dans la rubrique photo*/
.test1 {
  background-color: #E5E5E5; }

/*marge dans les div*/
.thumbHome {
  margin-top: 60px;
  margin-bottom: 100px; }

/*bouton qui permet d'accéder aux rubriques adéquates'*/
.boutonHome {
  width: 120px;
  font-size: 16px;
  float: right;
  margin-right: 50px;
  margin-bottom: 50px;
  background-color: #87D37C;
  color: black; }

/*Bas de la page*/
.footer {
  background-color: #E5E5E5;
  text-align: center;
  padding-bottom: 7%;
  padding-top: 7%;
  font-size: 130%; }
  .footer .credit {
    border-bottom: 2px solid black;
    margin-left: 25%;
    margin-right: 25%;
    /*Informations sur les devs*/
    /*Copyright du site*/ }
    .footer .credit a {
      color: black;
      text-decoration: none; }
      .footer .credit a:hover {
        color: #87D37C; }
      .footer .credit a span {
        color: black; }
    .footer .credit .dev {
      color: #87D37C;
      font-size: 16px; }
    .footer .credit .copy {
      font-size: 20px; }

/*entete du login retiré*/
.headerConnexion {
  display: none; }

/*titre centré*/
.titre-connexion {
  text-align: center; }

/*arriere plan derriere content-connexion*/
.imagelogin {
  background-image: url("../../images/fond-home.jpg");
  background-size: cover;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 350px;
  padding-left: 350px; }

/*responsive arriere plan*/
@media screen and (min-width: 320px) and (max-width: 768px) {
  .imagelogin {
    padding-right: 50px;
    padding-left: 50px; } }
/*div qui englobe les champ et bouton*/
.content-connexion {
  background-color: rgba(255, 255, 255, 0.7);
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  height: 220px;
  border-radius: 10px;
  border: 3px solid #fff;
  /*bouton connexion*/
  /*responsive bouton connexion*/ }
  .content-connexion .boutonConnexion {
    text-align: center;
    margin-bottom: 30px;
    padding-top: 15px; }
  @media screen and (min-width: 768px) {
    .content-connexion .boutonConnexion {
      text-align: right;
      padding-top: 15px; } }

/*changer theme du site*/
/*div qui englobe les articles*/
.photo_event {
  text-align: left;
  margin-left: 5%;
  margin: 0; }

/*changement background un sur deux dans photo*/
.changementCouleur:nth-child(2n+1) {
  background-color: #E5E5E5; }

/**/
.thumbnail {
  margin-top: 3%;
  margin-bottom: 5%;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 3%;
  /*info se trouvant dans thumbnail*/
  /*info se trouvant dans thumbnail*/
  /*emplacement du lien voir la suite du commentaire*/
  /*info se trouvant dans thumbnail*/
  /*acceder a l'arcticle complet*/ }
  .thumbnail .title {
    display: inline-block;
    font-size: 30px;
    font-weight: bold; }
  .thumbnail .info {
    display: none; }
  .thumbnail .comm_suite {
    margin-top: 20px; }
  .thumbnail .commentaire {
    font-size: 18px;
    text-align: justify; }
  .thumbnail .suite > a {
    font-size: 18px;
    padding-top: 3%;
    color: #87D37C;
    text-decoration: none; }

/*opacité sur le thumbnail*/
.couleur {
  background-color: transparent;
  border: none; }

/*proprieté du thumbnail event*/
.thumbEvent {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px; }

/*info thumbnail évènement*/
.titleEvent {
  display: inline-block;
  font-size: 25px;
  font-weight: bold; }

/*couleur thumbnail évènement*/
.couleurEvent {
  background-color: #E5E5E5; }

/*changer theme du site*/
/*block ajouter un post*/
.div1 {
  float: left;
  width: 50%;
  padding-bottom: 35px;
  padding-top: 35px; }

/*block brouillon*/
.div2 {
  float: right;
  width: 50%;
  padding-bottom: 35px;
  padding-top: 35px; }

/*icone au dessus des block*/
.icon {
  margin-bottom: 10px;
  /*-----reglage position txt-------*/
  padding-top: 8px;
  /*-----reglage hauteur icon-------*/
  font-size: 35px;
  /*-----reglage size icon-------*/
  color: #000;
  /*-----color icon-------*/
  width: 70px;
  /*-----------taille background icon--------*/
  height: 70px;
  border-radius: 50%;
  border: 1px solid #87D37C;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

/*lien pour ajouter un evenement et photo*/
.lienajout {
  text-align: center;
  color: black; }

/*fin du lien*/
/*bouton qui permet de publer, modifier ou supprimer*/
.bouton {
  text-align: center;
  margin-bottom: 30px;
  float: right;
  padding-top: 35px; }

/*fin bouton*/
/*Début du skin de la page "Mon compte"*/
/*image se trouvant a gauche sur la barre de nav*/
.img-compte {
  margin-top: -15px; }

/*image se trouvant derrière les information*/
.img-fond {
  background-image: url("../../images/img-fond2.jpg");
  background-size: cover; }

/*information du compte*/
.monCompte {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  /*responsive du titre des infos*/ }
  @media screen and (max-width: 768px) {
    .monCompte h2 {
      margin-left: -35px;
      text-align: justify; } }

/*information du compte*/
.thumbInfo {
  padding-top: 40px;
  padding-bottom: 60px;
  margin-bottom: 100px;
  background-color: #E5E5E5; }

/*titre "mon compte"*/
.titre-connexion {
  padding-top: 20px;
  padding-bottom: 20px; }

/*titre des deux thumbnail*/
.infoProfil {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  padding-top: -20px; }

/*image se trouvant dans information du compte*/
.img-info {
  width: 20%;
  margin-top: 30px; }

/*responsive de l'image*/
@media screen and (max-width: 768px) {
  .img-info {
    width: 30%; } }
/*les informations se trouvant dans le thumbnail info*/
.nom {
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 45px;
  font-size: 17px; }

/*les informations se trouvant dans le thumbnail pour modifier*/
.champ {
  margin-top: 28px;
  padding-left: 10px;
  padding-right: 10px; }

/*bouton pour confirmer*/
.boutonCompte {
  margin-top: 30px;
  text-align: center;
  margin-right: 10px; }

/*responsive du bouton*/
@media screen and (min-width: 768px) {
  .boutonCompte {
    margin-top: 20px;
    float: right;
    margin-right: 10px; } }
/*changer theme du site*/
/*div qui englobe les details de l'article*/
.detail {
  text-align: left;
  margin-left: 5%;
  margin: 0; }

/*thumbnail*/
.detailPage {
  margin-top: 3%;
  margin-bottom: 5%;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 60px;
  /*info dans thumbnail*/
  /*info dans thumbnail*/
  /*info dans thumbnail*/
  /*info dans thumbnail*/
  /*info dans thumbnail*/
  /*info dans thumbnail*/ }
  .detailPage .titledetail {
    display: inline-block;
    font-size: 35px;
    font-weight: bold; }
  .detailPage .appareil {
    font-size: 17px; }
  .detailPage .lieu {
    font-size: 17px; }
  .detailPage .commentaire {
    font-size: 20px; }
  .detailPage .ville {
    font-size: 17px; }
  .detailPage .renseignement {
    display: flex;
    font-size: 17px;
    float: right;
    padding-right: 10px;
    padding-top: 20px; }
    .detailPage .renseignement .date {
      margin-right: 6px; }
    .detailPage .renseignement .auteur {
      color: #87D37C; }

/*bouton pour revenir dans la rubrique adéquate*/
.boutonDetail {
  width: 100px;
  font-size: 18px;
  float: right;
  margin-right: 50px;
  margin-bottom: 50px;
  background-color: #87D37C;
  color: black; }

/*# sourceMappingURL=main.css.map */
