{%extends ":admin:index.html.twig"%}

{% block body %}
    
    <body>
        
        <h1>Créer un post </h1>
     
        <div class="container">
            <div class="col-sm-6 col-md-12">
        {{form_start(formEvent,{'attr':{'action':path('valideEvent'),'enctype':'multipart/form-data'}})}}
        
           {{form_end(formEvent)}}
            </div>
        </div>
    </body>
    
 {% endblock %}   